<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel='styleSheet' href='/css/styls.css'>
</head>

<body>
    <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/about.jpg">
    <p>My name is Guy Montal, I'm a software engineer who constantly looking to learn, if you have a cool project or idea, feal free to contact me and share!</p>
    </div>
   
    {{>footer}}
</body>

</html>